input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.selected{
    background-color: #444;
    padding-right:0px;
    color: white;
    font-family: Georgia, serif;
    width: 100%
}

.notselected{
    background-color: #444;
    padding-right:0px;
    color: white;
    font-family: Georgia, serif;
    width: 202%
}

.sizeOfInput{
    width: 100px;
}

.size1{
    width: 140px;
}

.size2{
    width: 70px;
}