input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.selected{
    background-color: #444;
    padding-right:0px;
    color: white;
    font-family: Georgia, serif;
    width: 100%
}

.notselected{
    background-color: #444;
    padding-right:0px;
    color: white;
    font-family: Georgia, serif;
    width: 192%
}